<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
<!-- {{name}} -->
<div>
    <ol>
        <li>

                <!-- <mat-form-field appearance="fill">
                    <mat-label>What's your name?</mat-label>
                    <input matInput [(ngModel)]="name" formControlName="name">
                </mat-form-field> -->
                <mat-label>What's your name?</mat-label>
                <input type="text" matInput [(ngModel)]="name">

                <!-- <form [formGroup]="addUserForm">
                    <div>
                        <mat-form-field appearance="fill">
                          <mat-label>Phone number</mat-label>
                          <example-tel-input formControlName="tel" required></example-tel-input>
                          <mat-icon matSuffix>phone</mat-icon>
                          <mat-hint>Include area code</mat-hint>
                        </mat-form-field>
                      </div>
                </form> -->
                <!-- <div [formGroup]="form">
                    <mat-form-field appearance="fill">
                      <mat-label>Phone number</mat-label>
                      <example-tel-input formControlName="tel" required></example-tel-input>
                      <mat-icon matSuffix>phone</mat-icon>
                      <mat-hint>Include area code</mat-hint>
                    </mat-form-field>
                  </div> -->
                  

        </li>
        <li>
            <button mat-raised-button (click)="openDialog()">Pick one</button>
        </li>
        <li *ngIf="animal">
            You chose: <i>{{animal}}</i>
        </li>

        <!-- <div *ngIf="passedValues">
            {{ passedValues | json }}
            
            <ul *ngFor = "let p of passedValues">
                <li>Name : {{ p.name}}</li>
                <li>Animal : {{p.animal}}</li>
            </ul>
          </div> -->
          
    </ol>
</div>